<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <!-- Adicione isso no <head> da sua view ou layout principal -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <title>
        @ViewData["Title"] - Loja virtual
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/black-dashboard.css?v=1.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body class="sidebar-mini">
    <div class="wrapper">
        <div class="navbar-minimize-fixed">
            <button class="minimize-sidebar btn btn-link btn-just-icon">
                <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
                <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
            </button>
        </div>
        <div class="sidebar">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">
                        #
                    </a>
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        Menu Principal
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a asp-area="" asp-controller="Event" asp-action="List">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>Loja</p>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#componentsExamples">
                            <i class="tim-icons icon-notes"></i>
                            <p>
                                Carrinho de Compra
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="componentsExamples">
                            <ul class="nav">
                                <li>
                                    <a asp-area="" asp-controller="Cart" asp-action="Index">
                                        <i class="tim-icons icon-paper"></i>
                                        <p>Compras</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#formsExamples">
                            <i class="tim-icons icon-settings"></i>
                            <p>
                                Produtos e Eventos
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="formsExamples">
                            <ul class="nav">
                                <li>
                                    <a asp-area="" asp-controller="Product" asp-action="Index">
                                        <i class="tim-icons icon-badge"></i>
                                        <p>Produtos</p>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Event" asp-action="Index">
                                        <i class="tim-icons icon-laptop"></i>
                                        <p>Eventos</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:void(0)">Gerenciamento de Ingresso</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">
                                    <i class="tim-icons icon-laptop"></i> Registrar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">
                                    <i class="tim-icons icon-single-02"></i> Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://www.tftec.com.br" class="nav-link">
                                SITE TFTEC
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.tftec.com.br/blog" class="nav-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> feito na raça <i class="tim-icons icon-cloud-upload-94"></i> by
                        <a href="javascript:void(0)" target="_blank">TFTEC Cloud</a>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <style>
        .select2-container .select2-selection--single {
            height: 38px; /* Ajuste a altura conforme necessário */
            border: 1px solid #2b3553; /* Cor da borda */
            border-radius: 4px; /* Arredondamento dos cantos */
            background-color: #1e1e2f; /* Cor de fundo */
            color: #fff; /* Cor do texto */
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px; /* Ajuste a linha conforme necessário */
            color: #fff; /* Cor do texto */
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px; /* Ajuste a altura conforme necessário */
        }

        .select2-dropdown {
            background-color: #1e1e2f; /* Cor de fundo do dropdown */
            color: #fff; /* Cor do texto do dropdown */
        }

        .select2-results__option {
            background-color: #1e1e2f; /* Cor de fundo das opções */
            color: #fff; /* Cor do texto das opções */
        }

        .select2-results__option--highlighted {
            background-color: #2b3553; /* Cor de fundo da opção destacada */
            color: #fff; /* Cor do texto da opção destacada */
        }
    </style>

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/assets/js/plugins/sweetalert2.min.js"></script>
    <!--  Plugin for Sorting Tables -->
    <script src="~/assets/js/plugins/jquery.tablesorter.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/black-dashboard.js?v=1.1.1"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/demo/demo.js"></script>
    <!-- Adicione isso antes do fechamento da tag </body> da sua view ou layout principal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');
                $main_panel = $('.main-panel');
                $('body').removeClass('sidebar-mini');

                var new_color = "blue";

                if ($sidebar.length != 0) {
                    $sidebar.attr('data', new_color);
                }

                if ($main_panel.length != 0) {
                    $main_panel.attr('data', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data', new_color);
                }

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                $('.fixed-plugin a').click(function (event) {
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data', new_color);
                    }

                    if ($main_panel.length != 0) {
                        $main_panel.attr('data', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data', new_color);
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        blackDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });

                $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (white_color == true) {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);
                        white_color = false;
                    } else {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }


                });

                $('.light-badge').click(function () {
                    $('body').addClass('white-content');
                });

                $('.dark-badge').click(function () {
                    $('body').removeClass('white-content');
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.initVectorMap();

        });
    </script>
    <script>
        $(document).ready(function () {
            var typeLeadSelect = $('select[name="Lead.TypeLead"]');
            var divCPF = $("#divCPF");
            var divCNPJ = $("#divCNPJ");

            function toggleFields() {
                if (typeLeadSelect.val() === "1") { // Pessoa Física
                    divCPF.show();
                    divCNPJ.hide();
                } else if (typeLeadSelect.val() === "2") { // Pessoa Jurídica
                    divCPF.hide();
                    divCNPJ.show();
                } else {
                    divCPF.hide();
                    divCNPJ.hide();
                }
            }

            typeLeadSelect.change(toggleFields);

            // Trigger change event on page load to set initial state
            toggleFields();
        });
    </script>
    <!-- Adicione o script aqui -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var typeLeadSelect = document.querySelector('select[name="Lead.TypeLead"]');
            var divCPF = document.getElementById("divCPF");
            var divCNPJ = document.getElementById("divCNPJ");

            function toggleFields() {
                if (typeLeadSelect.value === "1") { // Pessoa Física
                    divCPF.style.display = "block";
                    divCNPJ.style.display = "none";
                } else if (typeLeadSelect.value === "2") { // Pessoa Jurídica
                    divCPF.style.display = "none";
                    divCNPJ.style.display = "block";
                } else {
                    divCPF.style.display = "none";
                    divCNPJ.style.display = "none";
                }
            }

            typeLeadSelect.addEventListener("change", toggleFields);

            // Trigger change event on page load to set initial state
            toggleFields();
        });
    </script>
    <script>

        $(document).ready(function () {
            $('#datatable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });

            var table = $('#datatable').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');
                if ($($tr).hasClass('child')) {
                    $tr = $tr.prev('.parent');
                }

                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                if ($($tr).hasClass('child')) {
                    $tr = $tr.prev('.parent');
                }
                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record
            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
