@model CRM.WebApp.Site.Models.PriceLevelViewModel

@{
    ViewData["Title"] = "Criar Nível de Preço";
}

<form asp-action="Create" id="RangeValidation" class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Infos registro</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Data de Criação</label>
                        <div class="form-group">
                            <input asp-for="CreatedOn" class="form-control datetimepicker" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Data de Modificação</label>
                        <div class="form-group">
                            <input asp-for="ModifiedOn" class="form-control datetimepicker" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Criado por</label>
                        <div class="form-group">
                            <input asp-for="CreatedByName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Modificado por</label>
                        <div class="form-group">
                            <input asp-for="ModifiedByName" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Informações do Nível de Preço</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label asp-for="LevelName" class="col-sm-3 col-form-label">Nome do Nível</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input asp-for="LevelName" class="form-control" />
                                <span asp-validation-for="LevelName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="DiscountPercentage" class="col-sm-3 col-form-label">Percentual de Desconto</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input asp-for="DiscountPercentage" class="form-control" />
                                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="ValueBase" class="col-sm-3 col-form-label">Valor Base</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input asp-for="ValueBase" class="form-control" />
                                <span asp-validation-for="ValueBase" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="StatusCode" class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select asp-for="StatusCode" class="selectpicker" data-size="7" data-style="btn btn-primary" title="Selecione o status">
                                    <option disabled selected>Status</option>
                                    <option value="1">Ativo</option>
                                    <option value="2">Inativo</option>
                                </select>
                                <span asp-validation-for="StatusCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>
<a class="btn btn-bd-purple" asp-action="Index">Voltar</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}