@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-7 ml-auto mr-auto">
                        <div class="card card-login card-white">
                            <div class="card-header">
                                <img class="card-img" src="~/assets/img/card-primary.png" alt="Card image">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <div class="card-body">
                                <form asp-action="Login" id="LoginForm" class="form">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-email-85"></i>
                                            </div>
                                        </div>
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-lock-circle"></i>
                                            </div>
                                        </div>
                                        <input asp-for="Password" class="form-control" type="password" placeholder="Senha" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-check text-left">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="RememberMe" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Lembrar-me
                                        </label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-primary btn-round btn-lg" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}